<form>
    <label>First Name</label>
    <input name="firstName"  type="text">

    <label>Last Name</label>
    <input name="firstName"  type="text">

    <div class="btn-group" name="gender">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Gender
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>Male</li>
            <li>Female</li>
        </ul>
    </div>

    <label>Birth Date</label>
    <input type="date" name="birthDate">

    <label>Address</label>
    <input type="text" name="address">

    <label>Telephone Number</label>
    <input type="number" name="number">

    <input type="submit">
</form>